.profile__data {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
        "photo name edit-btn"
        "photo about .";
    align-items: center;
}

@media screen and (max-width: 816px) and (min-width: 612px) {
    .profile__data {
        align-self: stretch;
    }
}

@media screen and (max-width: 611px) {
    .profile__data {
        width: 87%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }
}